@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="welcome Text" style="  position: relative;text-align: center;color: white;width:100%">

     <img src="https://www.nvidia.com/content/dam/en-zz/Solutions/company-policies/about-nvidia-company-policies-banner-767-m@2x.jpg"></img>
     <div class="banner-text" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
     <h2>NVIDIA Grace Hopper Superchip</h2>
     <p2>Researchers, scientists embrace NVIDIA platform for quantum algorithms,</p2>
     <br>
     <p2>simulations and classical-quantum compute.</p2>
     </div>
     <hr></hr>
     <div class="check-out" style="height:25%">
         <img src="https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/ces/strip-banner/geforce-amp-banners-laptops-strip-1024-t@2x.jpg" height="25%"></img>
     </div>



    </div>
}

