@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <style>
            .caption {
                font-size: 60px;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bolder;
                color: lawngreen;
            }

            .center {
                position: absolute;
                top: 15%;
                left: 45%;
                transform: translate(-50%, -50%);
            }

    </style>
    <div class="imageContainer">
            <img src="https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/geforce-rtx-turing/overview/shop-2080-ti-1070@2x.jpg " style="width:100%;" alt="imageMain">
        <div class="caption center">
            Taking on the World's Greatest Challenges
            </div>
    </div>
    <div class="summary">
            <hr style="border: 3px solid lawngreen;width:95%"></hr>
            <h2 style="margin: auto;width: 50%; padding: 10px;">Who we are.</h2>
            <hr style="border: 3px solid lawngreen;width:95%"></hr>
        <p2>NVIDIA pioneered accelerated computing to tackle challenges no one else can solve. Today, our work in AI is transforming 100 trillion dollars of industries—from gaming to healthcare to transportation—and profoundly impacting society.  </p2>
            <br>
            <hr style="border: 3px solid lawngreen;width:95%"></hr>
        <h2 style="margin: auto;width: 50%; padding: 10px;">30 Years of Fun and Games. And Some Serious Innovation.</h2>
            <hr style="border: 3px solid lawngreen;width:95%"></hr>
            <p2>NVIDIA is proud to be an equal opportunity employer and committed to fostering a diverse environment. NVIDIA is committed to offering reasonable accommodations, upon request, to job applicants with disabilities. If you need assistance or an accommodation due to a disability, please contact Human Resources at 408-486-1405 or provide your contact information and we will contact you. Read NVIDIA’s Applicant Privacy Policy.</p2>
    </div>
    <br>
    <br>
    <div class="container">
            <button class="btn"  style="border-radius:4px;background-color:lawngreen;align-items:center">Our Products</button>
    </div>

}
