@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <style>
                            .caption {
                                font-size: 50px;
                                color: white;
                                font-family: Arial, Helvetica, sans-serif;
                                font-weight: bolder;
                                color:lawngreen;
                            }

                            .center {
                                position: absolute;
                                top: 20%;
                                left: 45%;
                                transform: translate(-50%, -50%);
                            }

    </style>
    <div class="imageContainer">
                            <img src="https://www.nvidia.com/content/dam/en-zz/Solutions/careers/OG-TWITTER-NVIDIA-Career-Recruiting-Hiring-1200x630.jpg " alt="imageMain">
                            <div class="caption center">
                                “Like No Place
                                you’ve Ever Worked.”
                            </div>
    </div>
    <div class="summary">
                        <hr style="border: 3px solid lawngreen;width:95%"></hr>
                        <h2 style="margin: auto;width: 50%; padding: 10px;">Follow Your Passion. Lead a Movement.</h2>
                        <hr style="border: 3px solid lawngreen;width:95%"></hr>
                        <p2>You’ll solve some of the world’s hardest problems and discover never-before-seen ways to improve the quality of life for people everywhere. From healthcare to robots. Self-driving cars to blockbuster movies. And a growing list of new opportunities every single day. Watch this video for a glimpse at why NVIDIA is like no place you've ever worked.</p2>
                        <br>
        <hr style="border: 3px solid lawngreen;width:95%"></hr>
        <h2 style="margin: auto;width: 50%; padding: 10px;">Ready to Join Us?</h2>
        <hr style="border: 3px solid lawngreen;width:95%"></hr>
        <p2>NVIDIA is proud to be an equal opportunity employer and committed to fostering a diverse environment. NVIDIA is committed to offering reasonable accommodations, upon request, to job applicants with disabilities. If you need assistance or an accommodation due to a disability, please contact Human Resources at 408-486-1405 or provide your contact information and we will contact you. Read NVIDIA’s Applicant Privacy Policy.</p2>
    </div>
    <br>
    <br>
    <div class="container">
            <button class="btn" style="border-radius:4px;background-color:lawngreen;align-items:center">Apply Now</button>
    </div>

}
